.hero .hero-img,
.bottom-hero .hero-img,
.hero-img-pack {
  height: 400px;
  width: 100%;
}
section.hero,
section.bottom-hero {
  width: 100%;
  margin: 0;
}

.list-link .select-page a {
  text-decoration: underline;
}

section {
  margin: 88px auto 88px;
}

.hero article {
  color: var(--background-primary-color);
  position: relative;
}

.hero .intro {
  position: absolute;
  top: 65px;
  left: 24px;
}

.hero .intro .section-title h2 {
  font-size: 48px;
  text-align: justify;
}

.hero .intro .section-title p {
  line-height: 32px;
  font-size: 20px;
}

.hero .intro .section-title hr {
  margin: 16px 10px 32px;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bg-footer-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img-pack {
  background: url(../img/packs/bg-footer-pack-mobile.jpg) no-repeat;
  background-size: cover;
}
.hero .pack {
  background: url(../img/packs/montanha-mobile.jpg) no-repeat;
  background-size: cover;
  height: 460px;
}

.hero .description {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bg-footer-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img-pack {
    background: url(../img/packs/bg-footer-pack-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero .description {
    padding: 88px 60px;
    font-size: 32px;
  }

  .hero .pack {
    background: url(../img/packs/montanha-tablet.jpg) no-repeat;
    background-size: cover;
    height: 620px;
  }
  .hero .intro {
    position: absolute;
    top: 200px;
    margin: 0 120px 69px;
  }
  .hero .intro .section-title p {
    line-height: 1.5;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bg-footer-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img-pack {
    height: 600px;
    background: url(../img/packs/bg-footer--pack-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero .description {
    padding: 88px 120px;
  }

  .hero .pack {
    background: url(../img/packs/montanha-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero .intro .section-title p {
    width: 579px;
  }
}

@media screen and (min-width: 1920px) {
  .hero .description {
    padding: 88px 160px;
  }
}
