.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img1 img2"
    "img3 img3";
  width: 100%;
  gap: 24px;
  height: 460px;
}

.payments .image-first {
  background: url(../img/grid-bala-aberta-com-roupas-mobile.png) no-repeat;
  background-size: cover;
  grid-area: img1;
}

.payments .image-thirdy-colaspan-2 {
  grid-area: img2;
  background: url(../img/grid-dois-passaportes-mobile.png) no-repeat;
  background-size: cover;
}

.payments .image-second {
  background: url(../img/grid-duas-mulhes-e-ponte-mobile.png) no-repeat;
  background-size: cover;
  grid-area: img3;
}

.payments footer a {
  text-align: center;
  margin-bottom: 40px;
}

.payments .image-first-pack {
  background: url(../img/packs/grid-casa-tradicional-japao-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: img1;
}

.payments .image-thirdy-colaspan-2-pack {
  grid-area: img2;
  background: url(../img/packs/grid-tokio-japao-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .image-second-pack {
  background: url(../img/packs/grid-caminhando-sub-pilares-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: img3;
}

@media screen and (min-width: 768px) {
  .payments .image-first {
    background: url(../img/grid-bala-aberta-com-roupas-tablet.png) no-repeat;
    background-size: cover;
    grid-area: img1;
  }

  .payments .image-thirdy-colaspan-2 {
    grid-area: img2;
    background: url(../img/grid-dois-passaportes-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .image-second {
    background: url(../img/grid-duas-mulhes-e-ponte-tablet.png) no-repeat;
    background-size: cover;
    grid-area: img3;
  }

  .payments footer a {
    display: none;
  }

  .payments .image-gallery {
    width: 648px;
  }

  .payments .image-first-pack {
    background: url(../img/packs/grid-casa-tradicional-japao-tablet.jpg) no-repeat;
    background-size: cover;
    grid-area: img1;
  }

  .payments .image-thirdy-colaspan-2-pack {
    grid-area: img2;
    background: url(../img/packs/grid-tokio-japao-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .image-second-pack {
    background: url(../img/packs/grid-caminhando-sub-pilares-tablet.jpg) no-repeat;
    background-size: cover;
    grid-area: img3;
  }

  .payments .image-gallery {
    width: 648px;
  }

  .payments .text-content {
    font-size: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }

  .payments .image-first {
    background: url(../img/grid-bala-aberta-com-roupas-desktop.png) no-repeat;
    background-size: cover;
    grid-area: img1;
  }

  .payments .image-thirdy-colaspan-2 {
    grid-area: img2;
    background: url(../img/grid-dois-passaportes-desktop.png) no-repeat;
    background-size: cover;
  }

  .payments .image-second {
    background: url(../img/grid-duas-mulhes-e-ponte-desktop.png) no-repeat;
    background-size: cover;
    grid-area: img3;
  }

  .payments .content-container .image-gallery {
    width: 790px;
    flex-shrink: 0;
    height: 520px;
    margin: 0;
  }

  .payments .image-first-pack {
    background: url(../img/packs/grid-casa-tradicional-japao-desktop.jpg) no-repeat;
    background-size: cover;
    grid-area: img1;
  }

  .payments .image-thirdy-colaspan-2-pack {
    grid-area: img2;
    background: url(../img/packs/grid-tokio-japao-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .payments .image-second-pack {
    background: url(../img/packs/grid-caminhando-sub-pilares-desktop.jpg) no-repeat;
    background-size: cover;
    grid-area: img3;
  }
}
